<!DOCTYPE html>
html(lang="en")
    head
        include ./partials/header
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Agrega tu E-mail para reestablecer la contraseña
            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in locals.mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error
            form(action="/reestablecer" method="POST").caja-login
                .campo
                    label(for="email") E-mail:
                    input(type="email" name="email" placeholder="Tu Email" value= email)
                .campo.enviar
                    input(type="submit" value="Reestablecer Contraseña").boton
                .campo.acciones
                    a(href="/iniciar-sesion") Volver a Login
