<!DOCTYPE html>
html(lang="en")
    head
        include ./partials/header
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Coloca tu nuevo Password
            form( method="POST").caja-login
                .campo
                    label(for="password") Nueva Contraseña:
                    input(type="password" name="password" placeholder="Contraseña" value= email)
                .campo.enviar
                    input(type="submit" value="Cambiar").boton
                .campo.acciones
                    a(href="/iniciar-sesion") Volver a Login
