<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body
        h2 Confirma tu cuenta UpTask
        p Ya estas casi registrado solo tienes que activar tu cuenta.
        a(href=`${confirmarURL}`) Activar Cuenta
        p Si no puedes accedeer a este enlace, visita #{confirmarURL}
        p Si no solicitastes este e-mail, puedes ignorarlo.