<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body
        h2 Reestablecer Contraseña
        p Hola, has solicitado reestablecer tu contraseña, haz click en el siguiente enlace para reestablecerla, este enlace es temporal, si se vence vuelve a solicitarlo.
        a(href=`${resetUrl}`) Ir a Reestablecer la contraseña
        p Si no puedes accedeer a este enlace, visita #{resetUrl}
        p Si no solicitastes este e-mail, puedes ignorarlo.